/* header */
html {
  width: 380px;
  margin: auto;
}

body {
  margin: auto;
  background-color: rgba(220,255,255,1);
  width: 380px;
}

.nav_bar {
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: none;
  z-index: 2;
}

.nav_bar img {
  width: 250px;
}

.navi {
  padding: 0;
  top: 0;
  position: absolute;
  display: none;
}

.navi.navi-activ {
  display: block;
  left: 0;
  width: 380px;
  height: 2000px;
  margin: 0;
  background-color: rgba(220,255,255,0.7);
}

li {
  display: flex;
  margin: 100px 40px;
  list-style: none;
}

li a {
  margin: auto;
  color: black;
  font-family: karmina, serif;
  font-weight: 400;
  font-size: 40px;
  text-decoration: none;
}

.burger {
  display: flex;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
}

.burger div {
  height: 2px;
  width: 35px;
  background-color: black;
}

header {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(220,255,255,1) 100%);
}

header h1 {
  font-family: natura, serif;
  font-size: 60px;
  font-weight: 400;
  margin: 75px 0 0;
  text-align: center;
}

header p {
  font-family: natura, serif;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.lettre-container {
  width: 380px;
  height: 800px;
  position: relative;
  margin-top: 20px;
}

.image-b {
  position: absolute;
  top: 230px;
}

.image-o {
  position: absolute;
  top: 260px;
  right: 0;
}
.image-m {
  position: absolute;
  top: 130px;
}

/* main */

main {
  background-color: white;
}

.information {
  position: relative;
  z-index: 1;
  margin: 140px 20px 0px;
  color: white;
}

.information h2 {
  font-family: karmina, serif;
  font-size: 40px;
  text-align: center;
}

.information p {
  font-family: karmina, serif;
  font-size: 16px;
  justify-content: left;
}

.carousel {
  position: relative;
  height: 175px;
  margin: 35px 0 0;
  overflow: hidden;
}

.slide img {
  margin: 0 40px;
}

.carousel-slide {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  transition: transform 300ms;
}

.slide {
  position: absolute;
  width: 100%;
}

.slide img {
  border: 1px solid #6FA35F;
  border-radius: 25px;
}

.carousel-left,
.carousel-right {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.carousel-left {
  left: 50px;
}

.carousel-right {
  right: 50px;
}

h2 {
  font-family: karmina, serif;
  font-size: 40px;
  text-align: center;
}

.titre-fonts {
  margin-top: 200px;
}

h3 {
  font-family: karmina, serif;
  font-size: 20px;
  margin: 60px 40px 0;
}

textarea {
  margin: 30px 40px 0;
  height: 55px;
  width: 260px;
  padding: 0 20px ;
  border-radius: 50px;
  font-family: natura, serif;
  font-size: 30px;
}

.slanted {
  font-family: natura, serif;
  font-style: italic;
}

hr {
  margin: 55px 20px 140px;
  border: 2px solid #6FA35F;
  border-radius: 50px;
}